<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TTC_ios.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C592886E214F5CE600BE23D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5928889214F5CE900BE23D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C5928894214F5CE900BE23D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
